@using Microsoft.AspNet.Identity;
@model BigSchool.ViewModel.FollowingViewModel
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Following</h2>

<div class="row">
    <ul class="course">
        @foreach (var follow in Model.Followings)
        {
            <li>
                <div class="details">
                    <span class="lecturer">
                        @follow.Name
                    </span>
                </div>
                <a href="#" data-followee-id="@follow.Id" data-follower-id="@User.Identity.GetUserId()" class="js-unfollow">UnFollow</a>
            </li>
}
    </ul>
</div>